body{
    background-color:#fafafa;
}

header{
    background-color:white;
    box-shadow: 0 1px 3px -2px rgba(0,0,0,0.33);
    padding: 0 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 3.375rem;
}

header h1{
    font-family: "Montez";
    font-size: 2rem;
}

header h1 img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.75rem
}

header h1 a{
    display: flex;
    align-items: center;
    color:black;
    text-decoration: none;
}

header nav a{
    margin-left: 0.75rem;
    color: black;
}

main{
    margin-top: 3.875rem;
    padding-left: 20vw;
    padding-right: 45vw;
}

main section{
    margin: 0.5rem 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.33);
    border-radius: 3px;
}

main section .info{
    display: flex;
    align-items: center;
    padding: 1rem;
}

main section .info img{
    width: 2rem;
    height: 2rem;

    margin-right: 1rem;
    border-radius: 9999px;
}

main section .info h2{
    font-family: 'Montserrat';
    font-size: 0.9rem;
    font-weight: 600;
}

main section .wrapper {
    position: relative;
    width: 100%;

    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
  
main section .wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
  
main section .wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

main section .icones{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

main section .icones .icon{
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

main section .icones .icon svg{
    width: 1rem;
    height: 1rem;

    margin-right: 0.3rem;
}

main section .icones .icon span{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.8rem;
}

main section p{
    font-family: 'Montserrat';
    font-size: 0.7rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
}

main section p strong{
    font-weight: 600;
}


aside{
    position: fixed;
    top: 5rem;
    width: 27vw;
    right: 15vw;
}
aside .voce{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .voce .img{
    flex: 0 0 3rem;
    position: relative;
}

aside .voce .img img{
    width: 100%;
    height: auto;
}

aside .voce .img svg{
    cursor: pointer;
    position: absolute;
    bottom: -12%;
    right: -12%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 9999px;
    background-color: #ededed;
}

aside .voce .nome .input{
    display: flex;
    align-items: center;
}

aside .voce .nome .input input{
    border: none;
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
    font-family: 'Montserrat';
    background-color: transparent;
    transition: background 0.2s;
    font-weight: 600;
    min-width: 0;
    width: 100%;
}

aside .voce .nome .input input:focus{
    outline: none;
    background-color: white;
}

aside .voce .nome .input svg{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    border-radius: 9999px;
    background-color: #ededed;
}

aside .voce .score{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    font-family: 'Montserrat';
}

aside .voce .score span{
    font-weight: 600;
}


aside .voce button{
    font-family: 'Montserrat';
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    background-color: white;
}

aside .voce button:disabled{
    background-color: #ededed;
    border-color: grey;
}

aside h2{
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

aside ul{
    list-style: none;
}

aside ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
}

aside ul li img{
    width: 2.5rem;
    height: auto;
}
 aside ul li span:nth-child(2){
     flex: 1;
     padding: 0.5rem;
 }

 aside ul li span:nth-child(3){
    font-weight: 600;
    padding: 0.5rem;
}

#musica{
    display: none;
}



@media(max-width: 960px) {
    aside {
        POSITION: static;
        WIDTH: 100%;
        PADDING: 5VW;
    }
    aside ul li{
        margin-bottom: 0.5rem;
    }

    main{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    header{
        padding: 0 5vw;
    }
}

